* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #029793;
    color: #7FC7BB  ;
    font-family: 'Fira Mono', monospace;
    font-weight: 400;
}
a {
    color: inherit;
    text-decoration-thickness: 3px;

} a:hover {
    text-decoration: none;
    opacity: .8;
}


.container {
    /* background: #FFF4; */
    max-width: 600px;
    margin: 0 auto;
    padding: 60px 0;
}


h1, h2, h3, h4, h5, h6, p {
    font-size: 17px;
}
h1, h2, h3 {
    text-transform: uppercase;
}