/* https://coolors.co/303633-028d88-9cd3ca-b9dfd9-ffcf56 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    --background: #1C575F;
    --background-dark: #0E2B2F;
    --color:  #DDDEE4;
    --color-alt: #F4F4F6;
    --alt: #FFD770;
    --shade: #FFF2;
    background: var(--background);
    color: var(--color);
    font-family: 'Fira Mono', monospace;
    font-weight: 400;
}
::selection {
    background: var(--alt);
    color: var(--background-dark);
}

/* LAYOUTS */
.container {
    max-width: 650px;
    margin: 0 auto;
    padding: 60px 15px;
}
header {
    margin: 40px 0;
}
header a {
    text-decoration: none;
}
footer {
    padding: 40px 0;
    text-align: center;
}

/* TEXT RESET */
h1, h2, h3, h4, h5, h6, p {
    font-size: 16px;
    margin: 10px 0;
    line-height: 21px;
}
h1, h2, h3, h4, h5, h6 {
    color: var(--color-alt);
}
a {
    display: inline-block;
    color: inherit;
    font-size: inherit;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    cursor: pointer;
} a > * {
    padding: 0;
    margin: 0;
} a:hover {
    color: var(--color-alt);
    text-decoration: none;
}

h1:before {
    content: "#";
    position: absolute;
    margin-left: -15px;
}
h2:before {
    content: "##";
    position: absolute;
    margin-left: -25px;
}
@media only screen and (max-width: 650px) {
    h1 {
        margin-left: 15px;
    }
    h2 {
        margin-left: 25px;
    }
}

/* OTHER MARKDOWN ELEMENT RESET */
code {
    border-radius: 3px;
    font-family: monospace;
    font-size: 14px;
    background: var(--background-dark);
    color: var(--color-alt);
    padding: 2px 6px;
    margin: 0px -5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    overflow-x: auto;
} code:hover {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
pre > code {
    display: block;
    padding: 15px;
    margin: 10px 0;
}
blockquote {
    border-left: 3px solid var(--alt);
    background: var(--shade);
    padding: 3px 10px;
}
table {
    margin: 15px 0;
    width: 100%;
    border-collapse: collapse;
} td {
    padding: 4px 13px;
} tbody tr:nth-child(2n) {
    background: var(--shade);
} th {
    background: var(--shade);
    padding: 10px 0;
}

/* ARTICLE STYLING */

article {
    padding: 20px 0;
    margin: 5px 0;
}
article .title {
    text-transform: capitalize;
}

article .expand {
    display: inline;
}

/* ICONS STYLING */

.icons {
    padding: 0 20px;
    float: right;
}
.svg-icon {
    margin: 0 10px;
    width: 15px;
    fill: var(--color);
}
a:hover .svg-icon {
    fill: var(--color-alt);
}