<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name='theme-color', content='#303633')
        style
            include ./highlight.css
            include ./index.css
        title DevLog
    body
        .container
            include elements/header.pug

            - var files = fs.readdirSync('./posts').sort((a, b) => fs.statSync('./posts/' + b).birthtimeMs - fs.statSync('./posts/' + a).birthtimeMs)
            - var re = /<h1.*>(.*)<\/h1>/
            each file in files
                - var md = markdown(fs.readFileSync('./posts/' + file, 'utf8')).split('\n')
                - var match = re.exec(md[0])
                - var title = match ? match[1] : file.split('-').join(' ')
                - var date = fs.statSync('./posts/' + file).birthtime.toDateString().split(' ').slice(1, 4).join(' ')
                article(id=title)
                    h1.title
                        a(href='/' + file.split('.md')[0] + '.html')=date + ' : ' + title
                    != md.slice(1).join('\n')

            include elements/footer.pug