doctype html
html
    body
        h2 MIKO FIGURSKI
        h2 DEVLOG
            //- = fs
        each file in fs.readdirSync('./posts')
            != markdown(fs.readFileSync('./posts/' + file, 'utf8'))