/* https://coolors.co/303633-028d88-9cd3ca-b9dfd9-ffcf56 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    --background: #0E2B2F;
    --background-light: #0E5058;
    --background-dark: #062023;
    /* --background-light: #1C4748; */
    --color:  #DDDEE4;
    --color-alt: #F9F9F6;
    --alt: #FFD770;
    --shade: #FFF2;
    background: var(--background);
    color: var(--color);
    font-family: 'Fira Mono', monospace;
    font-weight: 400;
}
::selection {
    background: var(--alt);
    color: var(--background);
}

/* LAYOUTS */
.container {
    max-width: 650px;
    margin: 50px auto;
    padding: 20px 15px;

}
header {
    margin: 30px 0;
}
header a {
    text-decoration: none;
    font-weight: bold;
}
footer {
    padding: 40px 0;
    text-align: center;
}

/* TEXT RESET */
h1, h2, h3, h4, h5, h6, p {
    font-size: 16px;
    margin: 10px 0;
    line-height: 21px;
    font-weight: normal;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 25px;
    color: var(--color-alt);
}
a {
    display: inline-block;
    color: inherit;
    font-size: inherit;
    /* font-weight: bold; */
    text-decoration: underline;
    text-decoration-thickness: 1px;
    cursor: pointer;
} a > * {
    padding: 0;
    margin: 0;
} a:hover {
    color: var(--alt);
    text-decoration: none;
}

h1:before {
    content: "#";
    font-weight: bold;
    color: var(--background-light);
    position: absolute;
    margin-left: -15px;
}
h2:before {
    content: "##";
    font-weight: bold;
    color: var(--background-light);
    position: absolute;
    margin-left: -25px;
}


/* OTHER MARKDOWN ELEMENT RESET */
code {
    border-radius: 3px;
    font-family: monospace;
    font-size: 14px;
    background: var(--background-dark);
    color: var(--color-alt);
    padding: 2px 6px;
    margin: 0px -5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: box-shadow 0.3s cubic-bezier(.25,.8,.25,1);
    overflow-x: auto;
} code:hover {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

pre > code {
    display: block;
    position: relative;
    padding: 15px;
    margin: 10px 0;
}

hr {
    color: var(--color-alt);
}

blockquote {
    border-left: 2px solid var(--alt);
    padding: 3px 10px;
    margin-left: -12px;
}
table {
    margin: 15px 0;
    width: 100%;
    border-collapse: collapse;
} td {
    padding: 4px 13px;
} tbody tr:nth-child(2n) {
    background: var(--shade);
} th {
    background: var(--shade);
    padding: 10px 0;
}

/* ARTICLE STYLING */

article {
    padding: 20px 0;
    margin: 5px 0;
}
article .title {
    text-transform: uppercase;
    padding: 4px 0;
}

article .expand {
    display: inline;
}

/* ICONS STYLING */

.icons {
    padding: 0 20px;
    float: right;
}
.svg-icon {
    margin: 0 10px;
    padding: 2px;
    width: 20px;
    fill: var(--color);
    border-radius: 3px;
    outline: solid var(--color) 0px;
    transition: .1s outline;
}
.svg-icon#github {
  border-radius: 50%;
}
a:hover .svg-icon {
    fill: var(--alt);
    outline: solid var(--alt) 2px;
}

/* CODE COPY BUTTON (FROM JS) */

code button.code-copy {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 3px;
    position: absolute;
    top: 5px;
    right: 10px;
    opacity: 0;
    transition: .1s opacity, .1s transform;
}
code button.code-copy svg {
    padding-top: 3px;
    transform: scale(1, .9);
    height: 18px;
    width: 18px;
}
code:hover button.code-copy {
    opacity: .3;
}
code button.code-copy:hover {
    opacity: .8;
}
code button.code-copy:active {
    transform: scale(.9);
}


/* SMOL SCREEN */

@media only screen and (max-width: 670px) {
    h1 {
        margin-left: 15px;
    }
    h2 {
        margin-left: 25px;
    }
    blockquote {
        margin-left: 0;
    }
    ul {
        margin-left: 15px;
    }
}
