- var re = /<h1.*>(.*)<\/h1>/
- var md = markdown(fs.readFileSync('./posts/' + filename, 'utf8')).split('\n')
- var match = re.exec(md[0])
- var title = match ? match[1] : file.split('-').join(' ')
- var date = fs.statSync('./posts/' + filename).birthtime.toDateString().split(' ').slice(1, 4).join(' ')


<!DOCTYPE html>
html(lang="en")
    head
        include head.pug
        title=title + ' | DevLog'
    body
        .container
            include elements/header.pug

            article(id=title)
                h1.title='[' + date + '] ' + title
                != md.slice(1).join('\n')

            include elements/footer.pug
